@import "compass/css3/border-radius";

.btn-cta-coba-ruby {
  display: block;
  width: 520px;
  text-align: center;
  background: #de5f28;
  margin: 0;
  padding: 1em;
  @include border-radius(3px);
  color: #ffecc6;
  
  &:hover {
    background: darken(#de5f28, 10%);
    cursor: pointer;
    color: #fff;
  }
}
