@import "compass/css3/border-radius";

* { margin: 0; padding: 0; }

body {
  background: #fff;
  font: 18px/1.6em Georgia, Palatino, "Palatino MT", "Book Antiqua", "Times New Roman", Times, serif;
  color: #333;
}

p {
  line-height: 150%;
  font-weight: 400;
}

h1, h2, h3, h4 {
  color: #111;
  font-weight: 400;
}

h2, h3, h4, h5, p, ul, ol {
  margin-bottom: 0.7em;
  padding: 0;
}

h1 {
  margin: 0.8em 0 1em;
  font-variant: small-caps;
}

h2 {
  font-size: 150%;
  margin: 0.7em 0 0.9em;
}

h3 {
  font-size:120%;
}

h4 {
  font-size:100%;
  font-variant:small-caps;
  font-weight: bold;
}

h5 {
  font-size:80%;
  font-weight: 100;
}

h6 {
  font-size: 80%;
  font-weight: 100;
  color: red;
  font-variant:small-caps;
}

a {
  color: #a43;
  margin: 0;
  padding: 0;
  vertical-align: baseline;

  &:hover {
    text-decoration: none;
    color: #f76;
  }
}

ul, ol {
  padding: 0;
  margin-left: 1em;
}
ul {
  list-style-type: square;
  list-style-position: inside;
}

li {
  line-height:150%    
}

pre {
  padding: 0px 24px;
  max-width: 800px;
  white-space: pre-wrap;
}
code, #code-editor {
  font-family: Monaco, Consolas, Andale Mono, monospace;
}
code {
  line-height: 1.5;
  font-size: 13px;
}
hr {
  width: 540px;
  text-align: left;
  margin: 0 auto 0 0;
  color: #999;
}

#code-editor {
  width: 550px;
  height: 400px;
}

.code-tools {
  margin-top: 400px;
  width: 550px;
}
.btn-run-wrapper {
  text-align: center;
  margin-bottom: 1em;
}

a.btn-run {
  display: block;
  font-variant: small-caps;
  background: #654;
  color: #fff;
  font-size: 1.3em;
  padding: 0.5em;
  text-decoration: none;
  
  &:hover {
    background: lighten(#654, 10%);
  }
}

.code-output {
  pre {
    border: 1px dashed #ccc;
    padding: 0 0.5em;
  }
  h4 {
    margin-bottom: 0;
  }
}

.panes {
  margin-top: 2.6em;
}

.pane {
  float: left;
}

.pane-left {
  margin: 0 1em;
  max-width: 33em;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
 
.clearfix {
  display: inline-block;
}

* html .clearfix {
  height: 1%;
}

.header {
  position: fixed;
  top: 0; left: 0; right: 0;
  background: #321;
  height: 1.6em;
  padding: 0.5em 1em;
}

.header h1 {
  color: #fff;
  display: inline;
  margin-right: 0.3em;
}

.header a, .header span {
  color: #cba;
}

.cta-with-btn {
  margin: 0; padding: 0;
  text-align: center;
  font-size: 0.9em;
  color: #321;
}

a.btn-cta {
  display: block;
  font-size: 1.4em;
  text-align: center;
  margin: 0;
  padding: 0.7em;
  color: #fff;
  font-variant: small-caps;
  text-decoration: none;
}

@mixin btn-background($color) {
  background: $color;
  &:hover { background: lighten($color, 10%); }
}

a.btn-cta-coba-ruby {
  @include btn-background(#ef0006);
}

a.btn-cta-selanjutnya {
  @include btn-background(#3849f8);
}
